@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
}

#landingContainer {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  height: 100vh;
  width: 100vw;
}

#startBtn {
  margin-top: 20vh;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

#greeting {
  color: white;
  text-align: center;
  margin-top: 20vh;
}

.messageContainer {
  font-family: "Pangolin", cursive;
  text-transform: uppercase;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.messageContainer #hit {
  justify-content: center;
  font-size: 4rem;
  text-align: center;
  color: greenyellow;
}
.messageContainer #close {
  justify-content: center;
  font-size: 4rem;
  text-align: center;
  color: yellow;
}
.messageContainer #missed {
  justify-content: center;
  font-size: 4rem;
  text-align: center;
  color: red;
}
