* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
}

#landingContainer {
  display: flex;
  justify-content: center;
  background-color: rebeccapurple;
  height: 100vh;
  width: 100vw;
}

#startBtn {
  margin-top: 20vh;
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

#greeting {
  color: white;
  text-align: center;
  margin-top: 20vh;
}
